<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewData["Title"] - Kutip Smart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/images/favicon.ico" type="image/ico" />

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
    <meta name="robots" content="index, nofollow">


    @RenderSection("Styles", required: false)
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- Sidebar -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-recycle"></i> <span>Kutip Smart</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- User Profile -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/images/user.png" alt="User" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity?.Name</h2>
                        </div>
                    </div>
                    <br />

                    <!-- Sidebar Menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Main Menu</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Dashboard</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Bins" asp-action="Index"><i class="fa fa-trash"></i> Bin Management</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Truck" asp-action="Index"><i class="fa fa-truck"></i> Truck Management</a>
                                </li>
                                <li>
                                    <a><i class="fa fa-bar-chart"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Collection Reports</a></li>
                                        <li><a href="#">Operational Reports</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Sidebar Footer -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings" asp-controller="Settings" asp-action="Index">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen" onclick="toggleFullScreen()">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" asp-controller="Account" asp-action="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Top Navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class="navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/images/user.png" alt="">@User.Identity?.Name
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Profile" asp-action="Index"><i class="fa fa-user pull-right"></i> Profile</a>
                                    <a class="dropdown-item" asp-controller="Settings" asp-action="Index"><i class="fa fa-cog pull-right"></i> Settings</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>System Alert</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Bin #1234 is 90% full
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item" asp-controller="Notifications" asp-action="Index">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Main Content -->
            <div class="right_col" role="main">
                <!-- Page Title -->
                <div class="page-title">
                    <div class="title_left">
                        <h3>@ViewData["Title"]</h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!-- Content Area -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <footer>
                <div class="pull-right">
                    Kutip Smart - Waste Management System &copy; @DateTime.Now.Year
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    @*------- JavaScript --------*@
        <!-- jQuery -->
        <script src="~/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- FastClick -->
        <script src="~/vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="~/vendors/nprogress/nprogress.js"></script>
        <!-- Chart.js -->
        <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
        <!-- gauge.js -->
        <script src="~/vendors/gauge.js/dist/gauge.min.js"></script>
        <!-- bootstrap-progressbar -->
        <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <!-- iCheck -->
        <script src="~/vendors/iCheck/icheck.min.js"></script>
        <!-- Skycons -->
        <!-- Flot -->
        <script src="~/vendors/Flot/jquery.flot.js"></script>
        <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
        <script src="~/vendors/skycons/skycons.js"></script>
        <script src="~/vendors/Flot/jquery.flot.time.js"></script>
        <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
        <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
        <!-- Flot plugins -->
        <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
        <!-- DateJS -->
        <script src="~/vendors/DateJS/build/date.js"></script>
        <!-- JQVMap -->
        <script src="~/vendors/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
        <script src="~/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="~/vendors/moment/min/moment.min.js"></script>
        <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

        <!-- Datatables -->
        <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
        <script src="~/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>


        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>
            @*------- JavaScript --------*@

    <script>
        function toggleFullScreen() {
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen();
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>