@model KutipSmart.Models.Schedule
@{
    ViewData["Title"] = "Schedule Details";
}

<h2>Schedule Details</h2>

<dl class="row">
    <dt class="col-sm-3">Bin</dt>
    <dd class="col-sm-9">@Model.Bin?.BinNo</dd>

    <dt class="col-sm-3">Truck</dt>
    <dd class="col-sm-9">@Model.Truck?.TruckNo</dd>

    <dt class="col-sm-3">Scheduled Time</dt>
    <dd class="col-sm-9">@Model.ScheduledDateTime</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.Status</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ScheduleId" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
