@model KutipSmart.Models.Truck

@{
    ViewData["Title"] = "Delete Truck";
}



<div class="alert alert-warning d-flex align-items-center" role="alert">
    <i data-feather="alert-triangle" class="me-2"></i>
    <div>
        You are about to permanently delete this truck record. This action cannot be undone.
    </div>
</div>

<div class="card shadow-sm border-0">
    <div class="card-body">
        <h5 class="card-title"><i data-feather="truck"></i> Truck Details</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TruckNo)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TruckNo)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DriverName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.DriverName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phone)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phone)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Company)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Company)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.UpdatedAt)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="TruckId" />
            <button type="submit" class="btn btn-danger">
                <i data-feather="trash-2"></i> Confirm Delete
            </button>
            <a asp-action="Index" class="btn btn-secondary ms-2">
                <i data-feather="arrow-left-circle"></i> Back to List
            </a>
        </form>
    </div>
</div>


