@model IEnumerable<KutipSmart.Models.Truck>

@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4><i data-feather="truck"></i> Truck Management</h4>
            <!--<a asp-action="Create" class="btn icon icon-left btn-primary"><i data-feather="edit"></i> Create</a>-->
            <!-- <a asp-action="Create" class="btn icon icon-left btn-primary"><i data-feather="file"></i> Print</a> -->
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.TruckNo)</th>
                        <th> @Html.DisplayNameFor(model => model.Status)</th>
                        <th> @Html.DisplayNameFor(model => model.DriverName)</th>
                        <th> @Html.DisplayNameFor(model => model.Phone)</th>
                        <th> @Html.DisplayNameFor(model => model.Company)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TruckNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td>@Html.DisplayFor(modelItem => item.DriverName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                            <td>@Html.DisplayFor(modelItem => item.Company)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
